<h2>List of Exercises</h2>

<table class="exercises">
  <thead>
    <tr>
      <td>Id</td>
      <td>Question</td>
      <td>Answer</td>
      <td colspan="3">Action</td>
    </tr>
  </thead>
  <tbody>
    <% @exercises.each do |ex| %>
        <tr>
          <td><%= ex.id%></td>
          <td><%= ex.question %></td>
          <td><%= ex.answer %></td>
          <td>
            <%# equivalent exercise_path with %>
            <%= link_to "Show", exercise_path(ex) %>
          </td>
          <td>
            <%= link_to "Edit", edit_exercise_path(ex) %>
          </td>
          <td>
            <%= link_to "Delete", exercise_path(ex), method: :delete, data: {confirm: "Are you sure to continue"}  %>
          </td>
        </tr>
    <% end %>
</table>
<br/>
# new_exercise_path equal to /exercises/new
<br/>
<%= link_to "New Exercise Form", new_exercise_path %>